/* variables tipograficas */
:root {
    --text-base: 16px;
    --text-ss: calc(var(--text-base) * 0.9);
    --text-s: calc(var(--text-base) * 1.3);
    --text-m: calc(var(--text-base) * 1.6);
    --text-l: calc(var(--text-base) * 2);
    --text-xl: calc(var(--text-base) * 2.5);

    /* fonts */
    --font-primary: 'Courgette';
    --font-secondary: 'Athiti';
}

@media screen and (max-width: 500px) {
    :root {
        --text-base: 14px
    }
}